@model ProdajnikWeb.Models.ConstructionObject

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>ConstructionObject</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObjectName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObjectName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeneralContractor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeneralContractor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkList)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkList)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommissioningDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommissioningDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.OrganizationName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.OrganizationName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ObjectId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
