@model IEnumerable<ProdajnikWeb.Models.ObjectMaterial>

@{
    Layout = "_Layout";
}

<p>
    <a asp-action="Create">Create New</a>
</p>

<!-- Форма фильтрации -->
<form method="get" asp-action="Index">
    <div>
        <label>Material Name:</label>
        <input type="text" name="materialNameFilter" value="@ViewBag.MaterialNameFilter" />
    </div>
    <div>
        <label>Object Name:</label>
        <input type="text" name="objectNameFilter" value="@ViewBag.ObjectNameFilter" />
    </div>
    <button type="submit">Filter</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Material.MaterialName)</th>
            <th>@Html.DisplayNameFor(model => model.Object.ObjectName)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Material.MaterialName)</td>
                <td>@Html.DisplayFor(modelItem => item.Object.ObjectName)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ObjectMaterialId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ObjectMaterialId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ObjectMaterialId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Пагинация -->
@{
    ViewData["CurrentPage"] = ViewBag.CurrentPage;
    ViewData["PageSize"] = ViewBag.PageSize;
    ViewData["TotalItems"] = ViewBag.TotalItems;
    ViewData["ActionName"] = "Index"; // Название действия
    ViewData["ControllerName"] = "ObjectMaterials"; // Название контроллера
}
<partial name="_Pagination" />
